<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="alternate" type="application/rss+xml" href="/atom.xml" /> -->
  <link href="/vendor/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/css/font-awesome.min.css" rel="stylesheet">
  <link href="/vendor/css/academicons.min.css" rel="stylesheet">
  <link href="/vendor/pygments/default.css" rel="stylesheet">
  <link href="/css/website.css" rel="stylesheet">
  <link href="/css/sharingbuttons.css" rel="stylesheet">
  <script type="text/javascript" src="/vendor/js/jquery.min.js"></script>
  <script type="text/javascript" src="/vendor/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/vendor/js/jquery.toc.js"></script>
  
</head>
<body>
	<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="font-size: 1.5em">Siddharth Kumar</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/projects">Projects</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" style="font-size: 1.5em">
            <li>
			    <a href="http://github.com/sidkuma24" target="_blank">
			    <i class="fa fa-lg fa-github"></i></a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/siddharthkumar24/" target="_blank">
					<i class="fa fa-lg fa-linkedin"></i>
				</a>
			</li>
			<li>
			<a href="https://www.facebook.com/sidkuma24" target="_blank">
				<i class="fa fa-lg fa-facebook"></i></a>
			</li>
          </ul>
        </div><!--/.nav-collapse -->
    	</div>
       </div>
      </div>
    </nav>


  {{ content }}

{% if page.comments %} 

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://sidkuma24-github-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            

{% endif %}
<!-- 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src=https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
 <script type="text/javascript">
 $("#toc").toc({
       'headings': 'h2,h3'
   });
</script>
<script id="dsq-count-scr" src="//sidkuma24-github-io.disqus.com/count.js" async></script>
</body>

</html>
