<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- <link rel="alternate" type="application/rss+xml" href="/atom.xml" /> -->

  <!-- <link href="/vendor/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <link href="/vendor/css/font-awesome.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <!-- <link href="/vendor/pygments/default.css" rel="stylesheet"> -->
  
  <!-- <link href="/css/sharingbuttons.css" rel="stylesheet"> -->

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					  <a href="/" class="navbar-brand">
                <div>
                    Siddharth Kumar
                </div>
            </a>
          <!-- Toggler/collapsibe Button -->
					<button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbar-links">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbar-links">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a href="/">About</a>
							</li>
							<li class="nav-item">
								<a href="/blog/">Blog</a>
							</li>
						</ul>
						<ul class="navbar navbar-right" style="font-size: 1.5em">
							<li>
								<a href="http://github.com/sidkuma24" target="_blank">
									<i class="fa fa-lg fa-github"></i></a>
							</li>
							<li>
								<a href="http://twitter.com/sidkuma24" target="_blank">
									<i class="fa fa-lg fa-twitter"></i></a>
							</li>
              <li>
                  <a href="/atom.xml" target="_blank">
                      <i class="fa fa-rss"></i></a>
              </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

  {{ content }}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src=https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</body>

</html>
