<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <!-- <link rel="alternate" type="application/rss+xml" href="/atom.xml" /> -->
  <link href="/vendor/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.4.1/dist/bootstrap-toc.min.css">

  <link href="/vendor/css/font-awesome.min.css" rel="stylesheet">
  <link href="/vendor/css/academicons.min.css" rel="stylesheet">
  <link href="/vendor/pygments/default.css" rel="stylesheet">
  <link href="/css/website.css" rel="stylesheet">
  <link href="/css/sharingbuttons.css" rel="stylesheet">
  <script type="text/javascript" src="/vendor/js/jquery.min.js"></script>
  <script type="text/javascript" src="/vendor/js/bootstrap.min.js"></script>
  <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.4.1/dist/bootstrap-toc.min.js"></script>
  <script type="text/javascript" src="/vendor/js/jquery.toc.js"></script>

    <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#311e3e">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#311e3e">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#311e3e">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

  <!-- Start of Async Drift Code -->
<script>
"use strict";

!function() {
  var t = window.driftt = window.drift = window.driftt || [];
  if (!t.init) {
    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
    t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
    t.factory = function(e) {
      return function() {
        var n = Array.prototype.slice.call(arguments);
        return n.unshift(e), t.push(n), t;
      };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
      var i = document.getElementsByTagName("script")[0];
      i.parentNode.insertBefore(o, i);
    };
  }
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('xe5kgw3aymui');


</script>
<!-- End of Async Drift Code -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script type="text/javascript">
  var app = angular.module("jobsList",[]);
  app.controller("jobsListController", function($scope) {
    $scope.jobs = {
      "Company" : "Amazon",
      "Job ID" : "001001",
      "Job Title" : "SDE",

    }
  });
</script>
  
</head>
<body>
  
	<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #24292e">
      <div class="container">
        <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="font-size: 1.5em">Siddharth Kumar</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/projects">Projects</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" style="font-size: 1.5em">
            <li>
			    <a href="http://github.com/sidkuma24" target="_blank">
			    <i class="fa fa-lg fa-github"></i></a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/siddharthkumar24/" target="_blank">
					<i class="fa fa-lg fa-linkedin"></i>
				</a>
			</li>
			<li>
			<a href="https://www.facebook.com/sidkuma24" target="_blank">
				<i class="fa fa-lg fa-facebook"></i></a>
			</li>
          </ul>
        </div><!--/.nav-collapse -->
    	</div>
       </div>
      </div>
    </nav>


  {{ content }}

<!-- 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src=https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
 <script type="text/javascript">
 $("#toc").toc({
       'headings': 'h2,h3'
   });
</script>
<script id="dsq-count-scr" src="//sidkuma24-github-io.disqus.com/count.js" async></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118277671-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118277671-1');
</script>

</body>

</html>
